
<br>
<div class="container">

    <div class="row " _style="padding:50px 0;">
        
        <div class="col text-truncate">
            <h2>
                <i class="bi bi-file-earmark-word"></i> {{ file_name }}
            </h2>
        </div>
        <div class="col text-end">
            <h2>
                <a href="javascript:void(0)" id="save_button" title="Save file"><i class="bi bi-floppy"></i></a>
                &nbsp;&nbsp;
                <a href="javascript:void(0)" id="cancel_button" title="Cancel"><i class="bi bi-x-circle"></i></a>
            </h2>
        </div>
        
        
        
        
        
        <textarea id="textarea1">{{{file_data}}}</textarea>
        
    </div>

</div>

<script src="https://code.jquery.com/jquery-3.7.0.min.js" crossorigin="anonymous"></script>


<script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/7.6.0/tinymce.min.js" crossorigin="anonymous"></script>



<script>
    $(document).ready(() => {
        
        tinymce.init({
            selector: '#textarea1',
            
            
            height: 900,
            width: "100%",
            menubar: false,
            branding: false,
            convert_urls: false,
            plugins:
            "preview importcss searchreplace autolink autosave save directionality code  visualblocks visualchars fullscreen image link media  codesample table charmap pagebreak nonbreaking anchor insertdatetime advlist lists wordcount help charmap quickbars emoticons",
            toolbar1:
            "undo redo | code  | bold italic underline strikethrough | fontfamily fontsize blocks | alignleft aligncenter alignright alignjustify | outdent indent |  numlist bullist | forecolor backcolor removeformat | pagebreak | charmap emoticons | fullscreen  preview save print | insertfile image media  link anchor codesample | ltr rtl",

            toolbar_sticky: false,
            
            extended_valid_elements : 'script[src|async|defer|type|charset]',
            autosave_ask_before_unload: false,

            
        });
        
        
        let full_path = `{{full_path}}`;
        
        
        $('#save_button').on('click', () => {
            
            let body = tinymce.get("textarea1").getContent();
            
            
            
            let formData = new FormData();
            
            formData.append('full_path', full_path);
            formData.append('body', body);

            $.ajax({
                url: '/api/edit',
                data: formData,
                type: 'POST',
                contentType: false,
                processData: false,
            }).done(function (data) {
                if (data.code == 200) {
                    
                    let arr = full_path.split('/');
                    arr.pop();
                    
                    location.href = arr.join('/');
                    
                }
            }).fail(function(data) {
                if (data.responseJSON.msg) {
                    alert(data.responseJSON.msg);
                }
            });
            
            
        });
        
        $('#cancel_button').on('click', () => {
            
            let arr = full_path.split('/');
            arr.pop();
            
            location.href = arr.join('/');
        });
        
        
        
    });
    
</script>

