<br>
<div class="container">

    <div class="row text-center" style="padding:50px 0;">

        <h2>Shared file</h2>

        <p><a href="/s/{{code}}/download"><i class="bi bi-file-earmark-arrow-down fs-1"></i></a></p>
        
        <p>Click to file for start downloading</p>

    </div>

</div>
